<div class="container">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label 'password' %><br />
    <%= f.text_field :sign_up_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <% if @validatable %>
    <% end %><br />
    <%= f.hidden_field :password, value: "springhearings1" %>
  </div>

  <div class="field">
    <%= f.hidden_field :password_confirmation, value: "springhearings1" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>